In [46]:
import numpy as np
import pandas as pd
import requests
from bs4 import BeautifulSoup

In [31]:
df = pd.read_csv('data/transfermarkt.csv')

In [32]:
df

,Unnamed: 0,Player,Club,Age,Position,Nation,Value,Contract Years Left
0,0,Kylian Mbappé,Paris Saint-Germain,22,attack,France,144000000.0,1
1,1,Erling Haaland,Borussia Dortmund,21,attack,Norway,117000000.0,3
2,2,Harry Kane,Tottenham Hotspur,28,attack,England,108000000.0,3
3,3,Neymar,Paris Saint-Germain,29,attack,Brazil,90000000.0,4
4,4,Mohamed Salah,Liverpool FC,29,attack,Egypt,90000000.0,2
...,...,...,...,...,...,...,...,...
3248,3248,Alessandro Berardi,Hellas Verona,30,Goalkeeper,Italy,45000.0,2
3249,3249,Alessandro Berardi,Hellas Verona,30,Goalkeeper,Italy,45000.0,2
3250,3250,Nicola Borghetto,Hellas Verona,21,Goalkeeper,Italy,45000.0,1
3251,3251,Leonardo Gabelli,Spezia Calcio,19,Defender,Italy,23000.0,fail
3252,3252,Nunzio Brandi,Hellas Verona,20,midfield,Italy,23000.0,fail

In [33]:
df.drop(df.columns[0], axis=1, inplace=True)

In [35]:
df.drop_duplicates(keep="first",inplace=True)

In [98]:
England = ['Manchester City','Liverpool FC','Crystal Palace','Chelsea FC','Fulham FC','Brighton &amp; Hove Albion','West Bromwich Albion','Newcastle United','Leeds United','Aston Villa','Sheffield United','Manchester United','West Ham United','Leicester City','Tottenham Hotspur','Burnley FC','Southampton FC','Arsenal FC','Wolverhampton Wanderers','Everton FC']
Spain = ['SD Eibar','CA Osasuna','Athletic Bilbao','Real Betis Balompié','Valencia CF','Celta de Vigo','Levante UD','Cádiz CF','FC Barcelona','Villarreal CF','SD Huesca','Sevilla FC','Getafe CF','Deportivo Alavés','Real Valladolid CF','Granada CF','Real Madrid','Elche CF','Atlético de Madrid','Real Sociedad']
Italy = ['US Sassuolo','AC Milan','Juventus FC','Udinese Calcio','Genoa CFC','Cagliari Calcio','Inter Milan','FC Crotone','Hellas Verona','Benevento Calcio','Parma Calcio 1913','SSC Napoli','AS Roma','Bologna FC 1909','Torino FC','UC Sampdoria','SS Lazio','ACF Fiorentina','Atalanta BC','Spezia Calcio']
Germany = ['Bayern Munich','Hertha BSC','Borussia Dortmund','VfB Stuttgart','1.FSV Mainz 05','Arminia Bielefeld','Bayer 04 Leverkusen','SV Werder Bremen','1. FC Köln','FC Augsburg','VfL Wolfsburg','TSG 1899 Hoffenheim','RB Leipzig','SC Freiburg','1.FC Union Berlin','FC Schalke 04','Borussia Mönchengladbach','Eintracht Frankfurt']
France = ['AS Monaco','Montpellier HSC','FC Girondins Bordeaux','Paris Saint-Germain','Olympique Marseille','OGC Nice','Nîmes Olympique','FC Nantes','Stade Reims','FC Lorient','Stade Brestois 29','LOSC Lille','Stade Rennais FC','Dijon FCO','RC Strasbourg Alsace','RC Lens','AS Saint-Étienne','FC Metz','Olympique Lyon','SCO Angers']

In [99]:
LeagueList = []
for a in df['Club']:
    if a in England:
        LeagueList.append('Premier League')
    elif a in Spain:
        LeagueList.append('La Liga')
    elif a in Italy:
        LeagueList.append('Serie A')
    elif a in Germany:
        LeagueList.append('Bundesliga')
    elif a in France:
        LeagueList.append('Ligue 1')
    else:
        LeagueList.append("UNKNOWN")

In [100]:
df['League'] = LeagueList

In [102]:
df['League'].value_counts()

Serie A           628
Ligue 1           579
Premier League    536
Bundesliga        532
La Liga           521
Name: League, dtype: int64

In [104]:
df

,Player,Club,Age,Position,Nation,Value,Contract Years Left,League
0,Kylian Mbappé,Paris Saint-Germain,22,attack,France,144000000.0,1,Ligue 1
1,Erling Haaland,Borussia Dortmund,21,attack,Norway,117000000.0,3,Bundesliga
2,Harry Kane,Tottenham Hotspur,28,attack,England,108000000.0,3,Premier League
3,Neymar,Paris Saint-Germain,29,attack,Brazil,90000000.0,4,Ligue 1
4,Mohamed Salah,Liverpool FC,29,attack,Egypt,90000000.0,2,Premier League
...,...,...,...,...,...,...,...,...
3247,Mamadou Mbow,Stade Reims,21,Defender,Senegal,45000.0,2,Ligue 1
3248,Alessandro Berardi,Hellas Verona,30,Goalkeeper,Italy,45000.0,2,Serie A
3250,Nicola Borghetto,Hellas Verona,21,Goalkeeper,Italy,45000.0,1,Serie A
3251,Leonardo Gabelli,Spezia Calcio,19,Defender,Italy,23000.0,fail,Serie A
3252,Nunzio Brandi,Hellas Verona,20,midfield,Italy,23000.0,fail,Serie A

In [105]:
attackers = df[df['Position']=='attack']
midfielders = df[df['Position']=='midfield']
defenders = df[df['Position']=='Defender']
goalkeepers = df[df['Position']=='Goalkeeper']

In [106]:
df.to_csv(r'data/safety_transfermarkt_with_league.csv',index=False)