In [1]:
from IPython.core.display import display, HTML
display(HTML("<style>.container { width:85% !important; }</style>"))

In [2]:
#Importing relevant packages
import numpy as np
import pandas as pd

# Importing our Data

In [3]:
#Importing TransferMarkt DF
transfermarkt = pd.read_excel('data/transfermarktFINAL.xlsx')

#Importing English Premier League Data data. The column names were modified by me in MS Excel before importing them here.
england_standard = pd.read_excel('data/league_data/england/england_std.xlsx')
england_shooting = pd.read_excel('data/league_data/england/england_shooting.xlsx')
england_shot_creation = pd.read_excel('data/league_data/england/england_shot_creation.xlsx')
england_possession = pd.read_excel('data/league_data/england/england_possession.xlsx')
england_passing = pd.read_excel('data/league_data/england/england_passing.xlsx')
england_defend = pd.read_excel('data/league_data/england/england_defending.xlsx')
england_misc = pd.read_excel('data/league_data/england/england_misc.xlsx')


#List of Column Names for each dataframe. These column names will be used to rename the columns on the remaining dataframes to be imported.
std_cols = [a for a in england_standard.columns]
shooting_cols = [a for a in england_shooting.columns]
shot_creation_cols = [a for a in england_shot_creation.columns]
possession_cols = [a for a in england_possession.columns]
passing_cols = [a for a in england_passing.columns]
defending_cols = [a for a in england_defend.columns]
misc_cols = [a for a in england_misc.columns]


#Dropping duplicate repeating columns from English Premier League dataframes
england_shooting.drop(['Rk','Player','Squad','Age','Born','90s▼','Nation','Pos','Gls','Matches'],axis=1, inplace=True)
england_shot_creation.drop(['Rk','Player','Squad','Age','Born','90s▼','Nation','Pos','Matches'],axis=1, inplace=True)
england_possession.drop(['Rk','Player','Squad','Age','Born','90s','Nation','Pos','Matches'],axis=1, inplace=True)
england_passing.drop(['Rk','Player','Squad','Age','Born','90s','Nation','Pos','Matches'],axis=1, inplace=True)
england_defend.drop(['Rk','Player','Squad','Age','Born','90s','Nation','Pos','Matches'],axis=1, inplace=True)
england_misc.drop(['Rk','Player','Squad','Age','Born','90s','Nation','Pos','Matches'],axis=1, inplace=True)


#Importing Spanish La Liga data
spain_standard = pd.read_excel('data/league_data/spain/spain_std.xlsx')
spain_standard.columns = std_cols

spain_shooting = pd.read_excel('data/league_data/spain/spain_shooting.xlsx')
spain_shooting.columns = shooting_cols
spain_shooting.drop(['Rk','Player','Squad','Age','Born','90s▼','Nation','Pos','Matches','Gls'],axis=1, inplace=True)

spain_shot_creation = pd.read_excel('data/league_data/spain/spain_shot_creation.xlsx')
spain_shot_creation.columns = shot_creation_cols
spain_shot_creation.drop(['Rk','Player','Squad','Age','Born','90s▼','Nation','Pos','Matches'],axis=1, inplace=True)

spain_possession = pd.read_excel('data/league_data/spain/spain_possession.xlsx')
spain_possession.columns = possession_cols
spain_possession.drop(['Rk','Player','Squad','Age','Born','90s','Nation','Pos','Matches'],axis=1, inplace=True)

spain_passing = pd.read_excel('data/league_data/spain/spain_passing.xlsx')
spain_passing.columns = passing_cols
spain_passing.drop(['Rk','Player','Squad','Age','Born','90s','Nation','Pos','Matches'],axis=1, inplace=True)

spain_defend = pd.read_excel('data/league_data/spain/spain_defending.xlsx')
spain_defend.columns = defending_cols
spain_defend.drop(['Rk','Player','Squad','Age','Born','90s','Nation','Pos','Matches'],axis=1, inplace=True)

spain_misc = pd.read_excel('data/league_data/spain/spain_misc.xlsx')
spain_misc.columns = misc_cols
spain_misc.drop(['Rk','Player','Squad','Age','Born','90s','Nation','Pos','Matches'],axis=1, inplace=True)


#Importing Italian Serie A data
italy_standard = pd.read_excel('data/league_data/italy/italy_std.xlsx')
italy_standard.columns = std_cols

italy_shooting = pd.read_excel('data/league_data/italy/italy_shooting.xlsx')
italy_shooting.columns = shooting_cols
italy_shooting.drop(['Rk','Player','Squad','Age','Born','90s▼','Nation','Pos','Matches','Gls'],axis=1, inplace=True)

italy_shot_creation = pd.read_excel('data/league_data/italy/italy_shot_creation.xlsx')
italy_shot_creation.columns = shot_creation_cols
italy_shot_creation.drop(['Rk','Player','Squad','Age','Born','90s▼','Nation','Pos','Matches'],axis=1, inplace=True)

italy_possession = pd.read_excel('data/league_data/italy/italy_possession.xlsx')
italy_possession.columns = possession_cols
italy_possession.drop(['Rk','Player','Squad','Age','Born','90s','Nation','Pos','Matches'],axis=1, inplace=True)

italy_passing = pd.read_excel('data/league_data/italy/italy_passing.xlsx')
italy_passing.columns = passing_cols
italy_passing.drop(['Rk','Player','Squad','Age','Born','90s','Nation','Pos','Matches'],axis=1, inplace=True)

italy_defend = pd.read_excel('data/league_data/italy/italy_defending.xlsx')
italy_defend.columns = defending_cols
italy_defend.drop(['Rk','Player','Squad','Age','Born','90s','Nation','Pos','Matches'],axis=1, inplace=True)

italy_misc = pd.read_excel('data/league_data/italy/italy_misc.xlsx')
italy_misc.columns = misc_cols
italy_misc.drop(['Rk','Player','Squad','Age','Born','90s','Nation','Pos','Matches'],axis=1, inplace=True)


#Importing German Bundesliga data
germany_standard = pd.read_excel('data/league_data/germany/germany_std.xlsx')
germany_standard.columns = std_cols

germany_shooting = pd.read_excel('data/league_data/germany/germany_shooting.xlsx')
germany_shooting.columns = shooting_cols
germany_shooting.drop(['Rk','Player','Squad','Age','Born','90s▼','Nation','Pos','Matches','Gls'],axis=1, inplace=True)

germany_shot_creation = pd.read_excel('data/league_data/germany/germany_shot_creation.xlsx')
germany_shot_creation.columns = shot_creation_cols
germany_shot_creation.drop(['Rk','Player','Squad','Age','Born','90s▼','Nation','Pos','Matches'],axis=1, inplace=True)

germany_possession = pd.read_excel('data/league_data/germany/germany_possession.xlsx')
germany_possession.columns = possession_cols
germany_possession.drop(['Rk','Player','Squad','Age','Born','90s','Nation','Pos','Matches'],axis=1, inplace=True)

germany_passing = pd.read_excel('data/league_data/germany/germany_passing.xlsx')
germany_passing.columns = passing_cols
germany_passing.drop(['Rk','Player','Squad','Age','Born','90s','Nation','Pos','Matches'],axis=1, inplace=True)

germany_defend = pd.read_excel('data/league_data/germany/germany_defending.xlsx')
germany_defend.columns = defending_cols
germany_defend.drop(['Rk','Player','Squad','Age','Born','90s','Nation','Pos','Matches'],axis=1, inplace=True)

germany_misc = pd.read_excel('data/league_data/germany/germany_misc.xlsx')
germany_misc.columns = misc_cols
germany_misc.drop(['Rk','Player','Squad','Age','Born','90s','Nation','Pos','Matches'],axis=1, inplace=True)


#Importing French Ligue 1 data
france_standard = pd.read_excel('data/league_data/france/france_std.xlsx')
france_standard.columns = std_cols

france_shooting = pd.read_excel('data/league_data/france/france_shooting.xlsx')
france_shooting.columns = shooting_cols
france_shooting.drop(['Rk','Player','Squad','Age','Born','90s▼','Nation','Pos','Matches','Gls'],axis=1, inplace=True)

france_shot_creation = pd.read_excel('data/league_data/france/france_shot_creation.xlsx')
france_shot_creation.columns = shot_creation_cols
france_shot_creation.drop(['Rk','Player','Squad','Age','Born','90s▼','Nation','Pos','Matches'],axis=1, inplace=True)

france_possession = pd.read_excel('data/league_data/france/france_possession.xlsx')
france_possession.columns = possession_cols
france_possession.drop(['Rk','Player','Squad','Age','Born','90s','Nation','Pos','Matches'],axis=1, inplace=True)

france_passing = pd.read_excel('data/league_data/france/france_passing.xlsx')
france_passing.columns = passing_cols
france_passing.drop(['Rk','Player','Squad','Age','Born','90s','Nation','Pos','Matches'],axis=1, inplace=True)

france_defend = pd.read_excel('data/league_data/france/france_defending.xlsx')
france_defend.columns = defending_cols
france_defend.drop(['Rk','Player','Squad','Age','Born','90s','Nation','Pos','Matches'],axis=1, inplace=True)

france_misc = pd.read_excel('data/league_data/france/france_misc.xlsx')
france_misc.columns = misc_cols
france_misc.drop(['Rk','Player','Squad','Age','Born','90s','Nation','Pos','Matches'],axis=1, inplace=True)

# Combining our imported <i>fbref</i> data

In [4]:
#Making a single dataframe for each league
eng_df = pd.concat([england_standard, england_shooting, england_shot_creation, england_possession, england_passing, england_defend, england_misc],axis=1,join="inner")
esp_df = pd.concat([spain_standard, spain_shooting, spain_shot_creation, spain_possession, spain_passing, spain_defend, spain_misc],axis=1,join="inner")
ita_df = pd.concat([italy_standard, italy_shooting, italy_shot_creation, italy_possession, italy_passing, italy_defend, italy_misc],axis=1,join="inner")
ger_df = pd.concat([germany_standard, germany_shooting, germany_shot_creation, germany_possession, germany_passing, germany_defend, germany_misc],axis=1,join="inner")
fra_df = pd.concat([france_standard, france_shooting, france_shot_creation, france_possession, france_passing, france_defend, france_misc],axis=1,join="inner")

In [5]:
#Combining data from all 5 leagues into one dataframe
fbref_df = pd.concat([eng_df,esp_df,ita_df,ger_df,fra_df])

In [6]:
#Observing what our concatenated dataframe looks like
fbref_df

,Player,Squad (20-21),MP,Starts,Min,Total Mins/90,Gls,Ast,Non-Penalty Goals,Penalties Scored,...,Crosses,Interceptions,Tackles Won,Penalty Kicks Won,Penalties Conceded,Own Goals,Total Loose Balls Recovered,Aerial Duel Wons,Aerial Duel Lost,% Aerial Duels Won
0,Pierre Højbjerg,Tottenham,38,38,3420,38.0,2,4,2,0,...,11,49,82,0.0,1.0,0,429.0,52.0,40.0,56.5
1,Hugo Lloris,Tottenham,38,38,3420,38.0,0,0,0,0,...,0,0,0,0.0,0.0,0,152.0,0.0,0.0,NaN
2,Emiliano Martínez,Aston Villa,38,38,3420,38.0,0,0,0,0,...,0,0,0,0.0,0.0,0,178.0,0.0,0.0,NaN
3,Aaron Ramsdale,Sheffield Utd,38,38,3420,38.0,0,0,0,0,...,0,0,0,0.0,1.0,0,183.0,0.0,0.0,NaN
4,Kasper Schmeichel,Leicester City,38,38,3420,38.0,0,0,0,0,...,0,0,0,0.0,0.0,1,161.0,0.0,0.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
494,Loïc Bessile,Bordeaux,1,1,90,1.0,0,0,0,0,...,0,0,1,0.0,0.0,0,5.0,3.0,1.0,75.0
495,Marcin Bułka,Paris S-G,1,1,90,1.0,0,0,0,0,...,2,2,1,0.0,0.0,0,10.0,1.0,3.0,25.0
496,Yoann Etienne,Lorient,1,1,90,1.0,0,0,0,0,...,0,0,0,0.0,0.0,0,3.0,0.0,0.0,NaN
497,Radosław Majecki,Monaco,1,1,90,1.0,0,0,0,0,...,0,0,0,0.0,0.0,0,3.0,0.0,0.0,NaN
498,Edouard Mendy,Rennes,1,1,90,1.0,0,0,0,0,...,1,1,0,1.0,0.0,0,11.0,2.0,3.0,40.0

# Fixing the special character problem in player names

In order to join our transfermarkt and fbref data, we need to ensure that the 'Player' column in both dataframes contains matching information. Therefore we will clean the names by removing non-English characters from both dataframes.

In [7]:
#Creating a list of special characters found in player names. These are characters that are common in European languages/names but not in English.

fbref_player_list = [a for a in fbref_df['Player']]
tm_player_list = [a for a in transfermarkt['Player']]
full_player_list = fbref_player_list + tm_player_list

character_list = []

for a in full_player_list:
    for b in a:
        if b not in character_list:
            character_list.append(b)

            
character_list.sort()


#Only selecting non-traditional characters that are found in certain languages
special_char = character_list[56:]

In [8]:
#Identifying the non-traditional characters in our Player names.
special_char

['\xad',
 'Á',
 'Ç',
 'É',
 'Ñ',
 'Ó',
 'Ö',
 'Ø',
 'Ü',
 'ß',
 'à',
 'á',
 'â',
 'ã',
 'ä',
 'å',
 'æ',
 'ç',
 'è',
 'é',
 'ê',
 'ë',
 'í',
 'î',
 'ï',
 'ð',
 'ñ',
 'ò',
 'ó',
 'ô',
 'ö',
 'ø',
 'ú',
 'ü',
 'ý',
 'ă',
 'ą',
 'Ć',
 'ć',
 'č',
 'Đ',
 'ę',
 'ě',
 'ğ',
 'İ',
 'ı',
 'Ł',
 'ł',
 'ń',
 'ō',
 'ř',
 'ş',
 'Š',
 'š',
 'ž',
 'Ș',
 'ș',
 'ț']

In [9]:
#Manually created list of replacements for our special character list above. The replacements are arranged in the same order as their respective original special characters.
replacement = ['','A','C','E','N','O','O','O','U','ss','a',
               'a','a','a','a','a','ae','c','e','e','e',
               'e','i','i','i','d','n','o','o','o','o',
               'o','u','u','y','a','a','C','c','c','D',
               'e','e','g','I','i','L','l','n','o','r',
               's','S','s','z','S','s','t']

In [10]:
#Replacing Special characters in the 'Player' Column of the fbref dataframe.

fbref_clean_players = []
for a in fbref_df['Player']:

    string = a
        
    player_string = []
    for z in string:
        if z in special_char:
            for e in list(range(len(special_char))):
                if z == special_char[e]:
                    player_string.append(replacement[e])
                else:
                    pass
        else:
            player_string.append(z)
    player_string = ''.join(player_string)
    fbref_clean_players.append(player_string)

        
            
fbref_df['Player'] = fbref_clean_players

In [11]:
#Observing if the 'Player' column has been changed in the fbref dataframe.
fbref_df

,Player,Squad (20-21),MP,Starts,Min,Total Mins/90,Gls,Ast,Non-Penalty Goals,Penalties Scored,...,Crosses,Interceptions,Tackles Won,Penalty Kicks Won,Penalties Conceded,Own Goals,Total Loose Balls Recovered,Aerial Duel Wons,Aerial Duel Lost,% Aerial Duels Won
0,Pierre Hojbjerg,Tottenham,38,38,3420,38.0,2,4,2,0,...,11,49,82,0.0,1.0,0,429.0,52.0,40.0,56.5
1,Hugo Lloris,Tottenham,38,38,3420,38.0,0,0,0,0,...,0,0,0,0.0,0.0,0,152.0,0.0,0.0,NaN
2,Emiliano Martinez,Aston Villa,38,38,3420,38.0,0,0,0,0,...,0,0,0,0.0,0.0,0,178.0,0.0,0.0,NaN
3,Aaron Ramsdale,Sheffield Utd,38,38,3420,38.0,0,0,0,0,...,0,0,0,0.0,1.0,0,183.0,0.0,0.0,NaN
4,Kasper Schmeichel,Leicester City,38,38,3420,38.0,0,0,0,0,...,0,0,0,0.0,0.0,1,161.0,0.0,0.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
494,Loic Bessile,Bordeaux,1,1,90,1.0,0,0,0,0,...,0,0,1,0.0,0.0,0,5.0,3.0,1.0,75.0
495,Marcin Bulka,Paris S-G,1,1,90,1.0,0,0,0,0,...,2,2,1,0.0,0.0,0,10.0,1.0,3.0,25.0
496,Yoann Etienne,Lorient,1,1,90,1.0,0,0,0,0,...,0,0,0,0.0,0.0,0,3.0,0.0,0.0,NaN
497,Radoslaw Majecki,Monaco,1,1,90,1.0,0,0,0,0,...,0,0,0,0.0,0.0,0,3.0,0.0,0.0,NaN
498,Edouard Mendy,Rennes,1,1,90,1.0,0,0,0,0,...,1,1,0,1.0,0.0,0,11.0,2.0,3.0,40.0

In [12]:
#Replacing Special characters in the 'Player' Column of the transfermarkt dataframe.

tm_clean_players = []
for a in transfermarkt['Player']:

    string = a
        
    player_string = []
    for z in string:
        if z in special_char:
            for e in list(range(len(special_char))):
                if z == special_char[e]:
                    player_string.append(replacement[e])
                else:
                    pass
        else:
            player_string.append(z)
    player_string = ''.join(player_string)
    tm_clean_players.append(player_string)
    

transfermarkt['Player'] = tm_clean_players

In [13]:
#Observing if the 'Player' column has been changed in the transfermarkt dataframe.
transfermarkt

,Player,Club,Age,Position,Nation,Value,Contract Years Left,League
0,Kylian Mbappe,Paris Saint-Germain,22,attack,France,144000000,1,Ligue 1
1,Erling Haaland,Borussia Dortmund,21,attack,Norway,117000000,3,Bundesliga
2,Harry Kane,Tottenham Hotspur,28,attack,England,108000000,3,Premier League
3,Jadon Sancho,Manchester United,21,attack,England,90000000,5,Premier League
4,Romelu Lukaku,Chelsea FC,28,attack,Belgium,90000000,5,Premier League
...,...,...,...,...,...,...,...,...
2790,Mamadou Mbow,Stade Reims,21,Defender,Senegal,45000,2,Ligue 1
2791,Alessandro Berardi,Hellas Verona,30,Goalkeeper,Italy,45000,2,Serie A
2792,Nicola Borghetto,Hellas Verona,21,Goalkeeper,Italy,45000,1,Serie A
2793,Nunzio Brandi,Hellas Verona,20,midfield,Italy,23000,fail,Serie A
2794,Leonardo Gabelli,Spezia Calcio,19,Defender,Italy,23000,fail,Serie A

In [14]:
#Combining the transfermarkt and fbref on the common 'Player' column.

final_df = pd.merge(transfermarkt, fbref_df, on='Player')

In [15]:
#Observing what our final_df looks like.
final_df

,Player,Club,Age,Position,Nation,Value,Contract Years Left,League,Squad (20-21),MP,...,Crosses,Interceptions,Tackles Won,Penalty Kicks Won,Penalties Conceded,Own Goals,Total Loose Balls Recovered,Aerial Duel Wons,Aerial Duel Lost,% Aerial Duels Won
0,Kylian Mbappe,Paris Saint-Germain,22,attack,France,144000000,1,Ligue 1,Paris S-G,31,...,30,46,34,0.0,0.0,0,273.0,24.0,36.0,40.0
1,Erling Haaland,Borussia Dortmund,21,attack,Norway,117000000,3,Bundesliga,Dortmund,28,...,13,5,6,0.0,0.0,0,96.0,37.0,40.0,48.1
2,Harry Kane,Tottenham Hotspur,28,attack,England,108000000,3,Premier League,Tottenham,35,...,37,15,12,2.0,0.0,0,155.0,90.0,129.0,41.1
3,Jadon Sancho,Manchester United,21,attack,England,90000000,5,Premier League,Dortmund,26,...,52,14,11,0.0,0.0,0,154.0,5.0,22.0,18.5
4,Romelu Lukaku,Chelsea FC,28,attack,Belgium,90000000,5,Premier League,Inter,36,...,23,3,5,0.0,0.0,0,87.0,37.0,62.0,37.4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1999,Niklas Lomb,Bayer 04 Leverkusen,28,Goalkeeper,Germany,225000,1,Bundesliga,Leverkusen,2,...,0,0,0,0.0,0.0,0,9.0,0.0,0.0,NaN
2000,Ahmad Ngouyamsa,Dijon FCO,20,Defender,Cameroon,225000,1,Ligue 1,Dijon,3,...,0,6,4,0.0,0.0,0,14.0,2.0,1.0,66.7
2001,Loic Bessile,FC Girondins Bordeaux,22,Defender,Togo,180000,1,Ligue 1,Bordeaux,1,...,0,0,1,0.0,0.0,0,5.0,3.0,1.0,75.0
2002,Federico Marchetti,Genoa CFC,38,Goalkeeper,Italy,180000,1,Serie A,Genoa,4,...,0,0,0,0.0,0.0,0,13.0,0.0,0.0,NaN
2003,Michael Langer,FC Schalke 04,36,Goalkeeper,Austria,90000,1,Bundesliga,Schalke 04,3,...,0,0,0,0.0,0.0,0,9.0,0.0,0.0,NaN

It seems like nearly 500 players are missing because of mismatched player names.

# Fixing our Missing Player Problem

## Identifying missing players from the <i>fbref</i> dataset

In [16]:
#Comparing our fbref dataframe with the final_df dataframe to find missing players

df1 = final_df[['Player','Squad (20-21)']]
df2 = fbref_df[['Player','Squad (20-21)']]

check_df_fbref = pd.merge(df1, df2, how='outer', suffixes=('','_y'), indicator=True)
failed_fbref = check_df_fbref[check_df_fbref['_merge']=='right_only'][['Player','Squad (20-21)']].sort_values('Player')

In [17]:
#Number of clubs and the number of players from fbref that did not make it to final_df
failed_fbref.groupby('Squad (20-21)').count()

               Player
Squad (20-21)
Alavés              7
Angers              4
Arminia             9
Arsenal             5
Aston Villa         2
...               ...
Werder Bremen      11
West Brom          13
West Ham            2
Wolfsburg           5
Wolves              5

[96 rows x 1 columns]

## Identifying missing players from the <i>transfermarkt</i> dataset

In [18]:
#Comparing our transfermarkt dataframe with the final_df dataframe to find missing players

df3 = final_df[['Player','Club']]
df4 = transfermarkt[['Player','Club']]

check_df_tm = pd.merge(df3, df4, how='outer', suffixes=('','_y'), indicator=True)
failed_tm = check_df_tm[check_df_tm['_merge']=='right_only'][['Player','Club']].sort_values('Player')

In [19]:
#Number of clubs and the number of players from tm that did not make it to final_df
failed_tm.groupby('Club').count()

                         Player
Club
1. FC Köln                   14
1.FC Union Berlin            13
1.FSV Mainz 05               10
AC Milan                      3
ACF Fiorentina               13
...                         ...
VfL Wolfsburg                14
Villarreal CF                 5
West Bromwich Albion          6
West Ham United               4
Wolverhampton Wanderers       7

[98 rows x 1 columns]

## Total missing players from each dataset

In [20]:
print(f'Players left out from fbref:  {len(failed_fbref)}')
print(f'Players left out from transfermarkt:  {len(failed_tm)}')

Players left out from fbref:  505
Players left out from transfermarkt:  861